#box
{
    height: 100px;
    width: 100px;
    border: 2px solid black;
   background-color: aquamarine;
    text-align: center;
}

button{
    border: 2px solid black;
    background-color: aquamarine;
    color: brown;
}

div
{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
   background-color:  orange;
   margin-top: 30px;
}

div.btn1
{
    padding-top: 10px;
}