*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E88D67; 
    text-align: center;
}

.container
{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* margin-bottom: 40px;   */
}

.game{
    height: 60vmin;
    width: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #006989;
    background-color: white;
}

#reset-btn
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    border-radius: 2rem;
    border-color: black;
}

#new-btn
{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    border: none;
}

#msg
{
    color: #18067a;
    font-size: 5vmin;
}

.msg-container
{
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide
{
    display: none;
}

#title
{
    margin-top: 20px;
}

